[submodule "neo"]
	path = neo
	url = ../neo.git
	branch = bol_2.12.2
[submodule "neo-cli"]
	path = neo-cli
	url = ../neo-cli.git
	branch = bol_2.12.2
[submodule "neo-debugger-tools"]
	path = neo-debugger-tools
	url = ../neo-debugger-tools.git
	branch = bol_development
